/* -------NAVBAR(HEADER)------- */
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .navbaar {
    min-height: 15vh;
    width: 100vw;
    padding: 12px 20px 12px 20px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

  .nav2con {
    display: none;
  }

  .f5 {
    color: #000;
    font-size: 8px;
    font-weight: 400;
  }

  .logo {
    font-size: 20px;
    letter-spacing: -1px;
    color: #000;

    padding-left: 30px;
    font-weight: 600;
  }

  br {
    line-height: 0.2;
  }

  .navlnk {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px 0 20px;
  }

  .demo {
    border: #000 solid 3px;
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
  }
  
  .demo:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
}

/* ------------NAVBAR(small screens)----------- */

@media screen and (max-width: 992px) {
  .nav1con {
    display: none;
  }

  .nav2con {
    width: 100%;
  }

  .navbaar2 {
    min-height: 20vh;
    padding: 12px 0;
    z-index: 2;
  }

  .sidetoside {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }

  .f5 {
    color: #000;
    font-size: 8px;
    font-weight: 400;
  }

  .logo {
    padding-left: 24px;
    flex: 1;
  }

  br {
    line-height: 0.2;
  }

  .hb {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .hbmenu {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
  }

  .navlnk {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 0 6px 0 6px;
  }


  .navlnk:hover {
    color: #000;
    border-bottom: 3px solid #0066ff;
    font-weight: 500;
    transition: 0.1s ease-in-out;
  }
}

a{
  text-decoration: none;
  margin-top: 7px;
}
a:hover{
  text-decoration: none;
}

@keyframes scale{

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}