/* For Large Screens */
@media screen and (min-width: 991px) {
    .illustration-frame {
        position: relative;
        padding-right: 20px;
        max-width: 640px;
        height: 460px;  
        left: 10%;
    }
}

/* For Small Screens */
@media screen and (max-width: 991px) {
    .illustration {
        display: none;
    }
}